.sapMBarLeft{
	background-color: green;
}

.sapMBarRight{
	background-color: red;
}

#oFeedItemList-listUl{
	background-color: green;
}

.sapMFeedListItem {
	background-color: grey;
}

.sapMFeedListItemTextText{
	font-size:50%;
	
	color:red;
	text-align:left;
	text-overflow: ellipsis;

}
.sapMLnk.sapMLnkMaxWidth{
	
	
}