.sapMBarLeft{
	background-color: green;
}

.sapMBarRight{
	background-color: red;
}

/* #oFeedItemList-listUl{
	background-color: green;
}
 */
/* .sapMFeedListItem {
	background-color: grey;
}
 */

.sapMFeedListItem.sapMFeedListItemTextName a {
font-size: 0.5rem;
color: #00679e;
word-wrap: break-word;
}

